$primaryPurple: #341ada;
$secondaryPurple: rgb(199, 191, 230);

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    padding: 75px;
    height: 100vh;
    background: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    img {
        border-radius: 15px;
    }  
    h1,
    h2{
        font-family: 'Caveat', cursive;
    }  
}

body {
    background-color: $secondaryPurple;
}

.head {
    margin-top: 67px;
    text-align: center;
}

